body {
  padding: 20px 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
header h1 {
  float: left;
  margin: 0px auto auto 0px;
}
header nav ul {
  float: left;
}
header nav ul li {
  float: left;
  list-style: none;
}
#content {
  clear: both;
}
#content #invoice-amount {
  float: left;
}
#content #invoice-description {
  clear: left;
  margin: auto;
}
#content .label {
  margin: auto;
}
#content li.pay-type-visa,
#content label.pay-type-visa {
  background: url(/images/visa_42x30.png) no-repeat;
}
#content li.pay-type-iou,
#content label.pay-type-iou {
  background: url(/images/iou_42x30.png) no-repeat;
}
#content #accept {
  float: left;
  width: 35%;
}
#content #existing-payment {
  float: left;
  width: 60%;
  margin-top: -80px;
}
#content #accepted-payment {
  padding-left: 0px;
}
#content #accepted-payment li {
  float: left;
  list-style: none;
  margin-right: 5px;
  padding-left: 42px;
  min-height: 42px;
  vertical-align: bottom;
}
#content br.clear {
  clear: both;
}
#content #existing-payment {
  width: 45%;
}
#content #existing-payment h2 {
  margin-top: 0px;
}
#content #existing-payment ol {
  padding-left: 0px;
}
#content #existing-payment ol li {
  list-style: none;
  min-height: 42px;
  vertical-align: bottom;
}
#content #existing-payment label {
  list-style: none;
  margin-right: 5px;
  padding-left: 50px;
  min-height: 42px;
}
#content #pay {
  clear: both;
}
#content #add-payment {
  margin-left: 30%;
  width: 60%;
  background-color: #DDD;
}
#content #add-payment .wizard2 > div:first-child {
  border: solid 1px #000;
  margin-bottom: 10px;
  padding: 0px 10px 10px 10px;
}
#content #add-payment .wizard2 > div h3 {
  margin: 0px auto;
}
#content #add-payment #chooser ul li {
  list-style: none;
}
#content #add-payment #chooser ul li a {
  color: #000;
}
footer {
  clear: both;
}
.hidden {
  display: none;
}
#auth-feedback {
  position: absolute;
  right: 0px;
}
