[data-role=header] ul {
  padding-left: 0px;
}
[data-role=header] ul li {
  float: left;
  list-style: none;
  margin-left: 15px;
}
[data-role=header] ul #user-nav {
  padding: 0px;
  margin: 0px;
}
[data-role=header] ul #user-nav img {
  width: 50px;
  height: 50px;
  margin-top: -15px;
  margin-left: 15px;
}
#content {
  clear: both;
}
#content .home-blurb {
  min-height: 400px;
  padding-top: 200px;
}
body {
  padding: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00bbff;
}
div.foo div.bar p.baz {
  width: 60px;
}
div.foo div.bar p.buzz {
  width: 60px;
}
.hidden {
  display: none;
}
footer {
  margin-top: 100px;
}
#make-payment .ui-input-text, #ask-for-payment .ui-input-text {
  width: auto;
}
