<h2>Request Cash</h2>
<form method="POST">
  <div>
    <label for='email'>Ask</label>
    <input type="email" id="email" name="email" value="" /> 
  </div>
  <div>
    <label for="dollaramount">for</label>
    $ <input type="number" id="dollaramount" name="dollaramount" value="" size="3" />.<input type="number" id="centamount" name="centamount" value="00" size="2" />
  </div>
  <div>
    <button>Email Now</button>
  </div>
</form>