<h2>Request Cash</h2>
<form method="POST">
  Hobos <%= _(email) %>
  <%= gettext('hambone', 'Hambone') %>
  <%= _('hambone burer', 'Hambone Burger') %>
  <div>
    <label for='email'>Ask</label>
    <input type="email" id="email" name="email" value="" /> 
  </div>
  <div>
    <label for="amount">for</label>
    <input type="number" id="amount" name="amount" value="" />
  </div>
  <div>
    <button>Email Now</button>
  </div>
</form>