<div class="home-blurb">
  <p>Get the Money is the easiest way to <strong>Get Paid</strong> on the web. Period!</p>
  <p>You have to <button class="bid" data-inline="true">Sign In</button> to play.</p>
</div>