<p>Get the Money is the easiest way to <strong>Get Paid</strong> on the web. Period!</p>

<p>You have to <button class="bid">Sign In</button> to play.</p>

<p>WinChan play <button id="winning">WinChan</button></p>