<nav id='auth-feedback' class="<% if (!user) { %>hidden<% } %>"><span class="email-address"><% if (user) { %><%= user %><% } %></span> <a href="/logout">Lock Wallet</a></nav>
<div id="invoice">
  <h1>Please Pay</h1>
  <p id="invoice-amount"><span class="label">Amount:</span> <b id="amount"></b></p>
  <p id="invoice-description"><span class="label">Reason:</span> <span id="description"></span></p>
</div><!-- invoice -->

<div id="login-form" class="<% if (user) { %>hidden<% } %>">
  <form action="">
    <button class="browserid">Unlock Wallet</button>
  </form>
</div>

<div id="wallet" class="<% if (! user) { %>hidden<% } %>">

  <!-- BEGIN WALLET -->
  <div id="accept">
    <div class="label"><strong id="reciever"></strong> accepts:</div>
    <ol id="accepted-payment">
    </ol>
    <br class="clear" />
  </div>
  <!-- Ajax Refreshable -->
  <div id="existing-payment">
    <%- partial('existing_payment_methods') %>
  </div>

<!-- END WALLET -->

  <div>
   <button id="pay">Pay</button>
  </div>
</div><!-- #wallet -->

<script>
/* Un-comment to develop /pay directly 
window.addEventListener('load', function () {
  $('#amount').text('$12.00');
  $('#description').text('Toothbrushes');
});
*/

/* Un-comment to Automate for develping second step of wizard 

window.addEventListener('load', function () {
  $('#add-payment-method-button').click();
});
*/
</script>