<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/site_style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <nav>
        <ul>
          <li><%= user %></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      <%- body %>
    </div>
    <footer></footer>
    <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script -->
    <script src="/js/lib/jquery-1.7.1.min.js"></script>
    <script src="https://browserid.org/include.js"></script>
    <script src="/js/site.js"></script>
  </body>
</html>
