<h1>Recieve Money</h1>
<script src="/js/merchant.js"></script>
<h2>Existing Payment Methods</h2>
<p>You are already setup to recieve money via:
<ul>
	<li></li>
</ul>
<h2>Add a New Payment Method</h2>
<p>Accepting multiple forms of payment gives your customers options.</p>
<ul>
	<li>Visa</li>
	<li><a href="/merchant/add-payment/punkmoney">PunkMoney</li>
</ul>